# Works locally, but failed at CI.
# includes:
# - ../../../core/phpstan.neon.dist
parameters:
  # Keep it at 4 to minimize continual churns at 5 for now.
  level: 4
  paths:
    - src
    - tests/src
  bootstrapFiles:
    - tests/bootstrap.php
  # https://phpstan.org/user-guide/ignoring-errors#reporting-unused-ignores
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
  # Keep analysis deterministic
  inferPrivatePropertyTypeFromConstructor: true
  # Extra strictness locally
  # checkImplicitMixed: true
  checkUninitializedProperties: true
  ignoreErrors:
    # See https://github.com/mglaman/phpstan-drupal/issues/30
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
    - '#Plugin definitions cannot be altered.#'
    - '#Trait Drupal\\blazy\\Traits\\EasingTrait is used zero times and is not analysed.#'
