.paragraphs-actions {
  display: flex;
  align-items: center;
}
.paragraphs-actions > .button {
  margin-right: 0;
  margin-left: 5px;
}
.paragraphs-actions > .button + .paragraphs-dropdown {
  margin-left: 5px;
}
.paragraphs-actions .paragraphs-icon {
  margin-right: 5px;
  margin-left: 5px;
}
.paragraphs-actions-item-icon {
  height: 20px;
  padding: 0 10px;
}
.paragraphs-dropdown {
  position: relative;
}
.paragraphs-dropdown-toggle {
  display: block;
  width: 36px;
  height: 36px;
  transition: all 0.1s;
  border: 1px solid transparent;
  border-radius: 4px;
  background: url("../icons/icon-actions.svg") no-repeat center;
  background-size: 26px 26px;
}
.paragraphs-dropdown-toggle:hover, .paragraphs-dropdown-toggle:focus {
  border: 1px solid #a6a6a6;
  outline: none;
  background-color: #f9f8f6;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
}
@media (min-width: 768px) {
  .paragraphs-dropdown-toggle {
    width: 26px;
    height: 26px;
  }
}
.paragraphs-dropdown-actions {
  position: absolute;
  z-index: 100;
  top: 36px;
  right: 0;
  display: none;
  overflow: hidden;
  border: 1px solid #a6a6a6;
  border-radius: 5px 0 5px 5px;
  background: #f9f8f6;
  box-shadow: 0 2px 6px 0 #aaa;
}
.item-list .paragraphs-dropdown-actions {
  list-style: none;
}
.item-list .paragraphs-dropdown-actions li {
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .paragraphs-dropdown-actions {
    top: 26px;
  }
}
.paragraphs-dropdown.open .paragraphs-dropdown-actions {
  display: block;
}
.paragraphs-dropdown-action {
  width: 100%;
}
.paragraphs-dropdown-action.button {
  margin-right: 0;
  margin-left: 0;
  text-align: left;
  white-space: nowrap;
  border: 0;
  border-radius: 0;
  background: transparent;
  font-weight: 600;
  line-height: 18px;
}
.paragraphs-dropdown-action.button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.form-wrapper .paragraphs-dropdown-action.button {
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .form-wrapper .paragraphs-dropdown-action.button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
