ul.paragraphs-add-dialog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .button.button--small {
    margin: 0;
    padding-top: calc(.5rem - 1px);
    padding-bottom: calc(.5rem - 1px);
    padding-left: 40px;
    text-align: left;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: auto calc(100% - 10px);
  }
}

.paragraphs-add-dialog-row {
  padding: 5px;

  input {
    width: 100%;
    min-width: 200px;
  }
}
